body {
    color: rgb(197, 49, 241);
    background-color: rgb(220, 196, 240);
}

header {
    border-bottom: solid 2px rgb(rgb(233, 214, 235), rgb(194, 176, 209), #886d92);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}


section {
    background: rgb(184, 156, 213);
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;
}
